# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Note: If you are using older services, you may need _USERNAME and _PASSWORD
# instead of _IAM_APIKEY.

# Watson Assistant
WORKSPACE_ID=1fdc6c2e-9939-451c-ba52-0d7d9985faaa
ASSISTANT_URL=https://gateway-lon.watsonplatform.net/assistant/api
ASSISTANT_IAM_APIKEY=zcWP67DAcBB5PegCupBp2C_jXROineYlFwBxstogbXed

# Watson Discovery
DISCOVERY_URL=https://gateway-lon.watsonplatform.net/discovery/api
DISCOVERY_ENVIRONMENT_ID=aae1fada-4d71-43a3-a48e-2903e8b4b1eb
DISCOVERY_COLLECTION_ID=467d78e7-a98a-4668-ac3d-83709c3773b2
DISCOVERY_IAM_APIKEY=MufIC6__Crz0s1TH0jGBtV5zan9Ql4BV0tphUpbC1DGo

# Watson Natural Language Understanding
NATURAL_LANGUAGE_UNDERSTANDING_URL=https://gateway-lon.watsonplatform.net/natural-language-understanding/api
NATURAL_LANGUAGE_UNDERSTANDING_IAM_APIKEY=G_YfwWvzU63vVjTXu6HPsJc-mlAayoHHtEYJBQ-6YmUD

# Watson Tone Analyzer
TONE_ANALYZER_URL=https://gateway-lon.watsonplatform.net/tone-analyzer/api
TONE_ANALYZER_IAM_APIKEY=RX8lq5_xwH9kA6o7s9t1O48NNWZptaNSGPt6_D6R5IQE

# Run locally on a non-default port (default is 3000)
# PORT=3000
